# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Git
.git/

# Secrets
.env

# Generated / runtime files
uploadss/
uploads/
*.pdf
*.png
*.jpg
*.jpeg

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
